.container{
/* 	border: 1px solid black; */
}
.img-thumbnail{
	width: 2000px;
}

img.img-thumbnail{
	overflow:hidden;
	margin-top: 2%;
	margin-bottom: 2%;
}

div#mission.container{
	width:95%;
	margin-top: 5%;
	background-color: white;
    opacity: 0.7;
    padding: 5% 1%;
	overflow: scroll;
}
h3{
	text-align: center;
	font-weight: 700;
}
p{
	text-align: center;
}
div#horizontal-button-group.container{
	margin-top:1%;
	text-align: center;
	padding: 2%;
	padding-right:0;
	padding-left:0;
}

div#vertical-button-group.container{
		display:none;
	}

.btn-group>.btn-group:not(:first-child):not(:last-child)>.btn {
    border-radius: 10px;
}

.btn-group>.btn-group:first-child:not(:last-child)>.btn:last-child{
	border-radius: 10px;
}

.btn-group>.btn-group:last-child:not(:first-child)>.btn:first-child {
    border-radius: 10px;
}

button.btn.btn-primary{
	    background-color: #11a3d1;
		height: 50px;
		border-radius:10px;
}
div.btn-group{
	padding: 0 1%;
	border-radius:10px;
}

div.btn-group:last-child{
	padding-right:0;
}

div.btn-group:first-child{
	padding-left:0;
}

div#dealer-img.container{
	background-image: url(dealer.png);
    height: 325px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 25%;
    background-size: cover;
}

@media only screen and (max-width: 600px) {
    div#horizontal-button-group.container{
		display:none;
	}
	
	div#vertical-button-group.container{
		text-align:center;
		display:grid;
	}
	
	
	div.btn-group:last-child{
		padding-right:1%;
	}

	div.btn-group:first-child{
		padding-left:1%;
	}
	
	div.btn-group {
    padding: 0.5% 1%;
	}

}


@media only screen and (max-width: 400px) {
	overflow:scroll;
	div.btn-group {
		padding: 1% 1%;
	}
}

div#header-image-container.container{
	padding:0;
}

#header-image{
	width: 100%;
	padding-bottom: 5%;
	padding-left: 2%;
   	padding-right: 2%;
}

div#footer-image-container.container{
	padding:0;
}

#footer-image{
	width: 100%;
	padding-top: 5%;
}

div.jumbotron{
	background-color:white;
}
